.item-container {
  min-height: 250px;
  max-height: 250px;
  width: 220px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  transition: 0.5s all;
  overflow: hidden;
}

.item-container:hover {
  min-height: 100%;
  max-height: 100%;
  transition: 0.5s all;
}

.item-container .image-container {
  max-width: 100%;
  height: 150px;
  text-align: center;
  margin-top: 10px;
}

.item-container .image-container img {
  height: 100%;
}

.item-container .price-container {
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 24px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  color: #333;
}

.item-container .title-container {
  width: 80%;
  margin: 30px auto;
}
